DATABASE_URL=
ADMIN_PIN=2026
SESSION_SECRET=kitob-market-super-secret-2026
DELIVERY_FEE=25000
APP_URL=https://kitob-market-miniapp-production.up.railway.app
TELEGRAM_BOT_TOKEN=
TELEGRAM_GROUP_CHAT_ID=
IMGBB_API_KEY=
