DATABASE_URL=
ADMIN_PIN=2026
SESSION_SECRET=kitob-market-super-secret-2026
DELIVERY_FEE=25000
APP_URL=https://kitob-market-miniapp-production.up.railway.app
TELEGRAM_BOT_TOKEN=8709186194:AAEtHgdtcxV86UTzUZKcWPVeLMIBnPL_gkk
TELEGRAM_GROUP_CHAT_ID=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=kitob-market
